body {
    background-color: antiquewhite;
}

a {
    color: black;
    text-decoration: unset;
}

header {
    transform: translateY(-2.3rem);
    text-align: center;
    position: fixed;
    height: 4rem;
    width:8rem;
    line-height: 5.5rem;
    left:0px;
    top:0px;
    background-color: white;
    box-shadow: 0px 0px 15px black;
    border-radius: 50%;
    border: 5px solid olive;
}

h1 {
    text-align: center; 
}
